

.services-section-three {
    /* background-color: #F8F9FA; */
    text-align: center;
    position: relative;
    overflow: hidden;
  }
  
  
  

  .services-layout-container-three {
    position: relative;
    width: 100%;
    max-width: 1200px; /* عرض تقريبي لكي تظهر الصورة بشكل جيد */
    min-height: 417px;
    margin: 0 auto 50px auto;
  
    background-image: url('../../assets/images/ww2.png'); /* */
    background-size: 100% auto;
    background-position: center; /* توسيط الصورة */
    background-repeat: no-repeat; /* عدم تكرار الصورة */
  }
  
  /* نمط الأيقونة الدائرية نفسها والنص */
  .service-icon-wrapper-three {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 5;
    width: 200px; /* لتحديد عرض الأيقونة مع النص أسفلها */
    /* margin-top: 3em; */
    margin-right: 2em;
  }
  
 /* .internet{
    margin-top: 3em;
} */
.mobile{
  display: none;
}

.mobile-img{
  display: none;
}
  .service-icon-three {
    width: 80px;
    height: 80px;
    background-color: #1A68A6;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
/* .service-text-three span{
  margin: 5px 0px;
} */
  .service-icon-three img {
    width: 40px;
    height: 40px;
    
  }
  .service-icon-three .imgsim{
    width: 35px;
    height: 35px;
  }
  .service-icon-three .carimg{
    width: 55px;
    height: 55px;
  }
  .service-text-three {
    color: #477BAE;
    font-size: 1.1em;
    margin-top: 15px;
    line-height: 1.4;
    text-align: center;
    font-weight: 500;
  }
  
  /* تموضع العناصر المطلق فوق نقاط الخط المنقط */
  .absolute-positioned-item {
    position: absolute;
    
  }
  

  
  /* خدمة جداول للأماكن السياحية */
  .location-pos-three {
    /* left: 25%; */
    /* left: 30%; */
    left: 27%;
    /* top: 54%; */
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* خدمة شراء خطوط وباقات انترنت */
  .internet-pos-three {
    /* left: 50%; */
    left: 49%;
    top: 25%; /* أعلى قليلاً ليتبع الميلان */
    /* bottom: 60%; */
    transform: translate(-50%, -50%);
   
  }
  
  /* خدمة إقامة في فنادق */
  .hotel-pos-three {
    /* left: 77%; */
    left: 75%;
    /* top: 50%; */
    top: 38%;
    transform: translate(-50%, -50%);
  }
  

  
 
  .bottom-row-layout {
    
    background-position: center 30%; 
  }
  

  
 
 
  
  
 
  
 
  /* @media (max-width: 991px) {
    .services-layout-container-three {
      
      background-size: cover;
     
    }
  
    .absolute-positioned-item {
        
        transform: none; 
        margin-bottom: 30px; 
        
    }
  
    .location-pos-three{
      top: 16em;
      left: 9em;
    }
    .internet-pos-three{
      top: -2em;
      left: 19em;
    }
    .hotel-pos-three{
      top: -16em;
      left: 38em;
    }
  
    
  }

  @media (max-width: 830px){
    .services-layout-container-three {
      
      background-size: contain;
     
    }
    .location-pos-three{
      top: 16em;
      
    }
    .internet-pos-three{
      top: -0.5em;
      left: 14em;
    }
    .hotel-pos-three{
      top: -16em;
      left: 29em;
    }
    
  }



  @media (max-width: 750px){
    .service-icon-three{
      width: 60px !important;
      height: 60px !important;
    }
    .service-icon-three img {
      width: 25px !important;
      height: 25px !important;

    }
  .location-pos-three{
    top: 13em;
    left: 5em !important;
  }
  .internet-pos-three{
    top: -2em;
    left: 10em;
  }
  .hotel-pos-three{
    top: -13em;
    left: 26em;
  }
  .service-text-three{
    font-size: .8em !important;
  }
}



@media (max-width: 670px){
  .service-icon-three{
    width: 60px !important;
    height: 60px !important;
  }
  .service-icon-three img {
    width: 25px !important;
    height: 25px !important;
  }
.location-pos-three{
  top: 13em;
  left: 3em !important;
}
.internet-pos-three{
  top: -3em;
  left: 8.4em;
}
.hotel-pos-three{
  top: -14em;
  left: 20.4em;
}
.service-text-three{
  font-size: .8em !important;
}
}




@media (max-width: 600px){
  .service-icon-three{
    width: 50px !important;
    height: 50px !important;
  }
  .service-icon-three img {
    width: 20px !important;
    height: 20px !important;
  }
.location-pos-three{
  top: 11em;
  left: 3em !important;
}
.internet-pos-three{
  top: -1.9em;
  left: 6.4em;
}
.hotel-pos-three{
  top: -12.5em;
  left: 18.4em;
}
.service-text-three{
  font-size: .7em !important;
}
}




@media (max-width: 520px){
  .services-layout-container-three{
   background-size: contain !important;
  }
 .location-pos-three{
   top: 11em;
   left: 2em !important;
 }
 .internet-pos-three{
   top: -2.5em;
   left: 3.5em;
 }
 .hotel-pos-three{
   top: -14em;
   left: 14.4em;
 }
 
}



@media (max-width: 440px){
  .service-icon-three{
    width: 40px !important;
    height: 40px !important;
  }
  .service-icon-three img {
    width: 17px !important;
    height: 17px !important;
  }
 
.location-pos-three{
  top: 10em;
  left: 0em !important;
}
.internet-pos-three{
  top: -3.5em;
  left: 2em;
}
.hotel-pos-three{
  top: -12.5em;
  left: 10.4em;
}
.service-text-three{
  font-size: .45em !important;
}

}


@media (max-width: 365px){
  .service-icon-three{
    width: 35px !important;
    height: 35px !important;
  }
  .service-icon-three img {
    width: 17px !important;
    height: 17px !important;
  }
 
.location-pos-three{
  top: 7em;
  left: 2em !important;
}
.internet-pos-three{
  top: -0.5em;
  left: 2em;
}
.hotel-pos-three{
  top: -3em;
  left: 6.4em;
}
.service-text-three{
  font-size: .45em !important;
}

} */











































@media (max-width: 991px) {
  .services-layout-container-three {
   
    min-height: 417px !important;
    background-size: cover; 
   background-position: -3em;
  }

  .absolute-positioned-item {
      position: absolute;
      transform: none; 
      margin-bottom: 30px; 
      
  }


  .location-pos-three{
    top: 7em;
    left: 8em;
  }
  .internet-pos-three{
    top: 0em;
    left: 16em;
  }
  .hotel-pos-three{
    top: 3em;
    left: 34em;
  }
}

@media (max-width:910px){
.location-pos-three{
  top: 7em;
  left: 7em;
}
.internet-pos-three{
  top: -0.5em;
  left: 15em;
}
.hotel-pos-three{
  top: 5em;
  left: 30em;
}
}


@media (max-width: 830px){
  .services-layout-container-three{
    background-position: -1.5em;
  }
  .location-pos-three{
    top: 7em;
    left: 5em;
  }
  .internet-pos-three{
    top: -0.5em;
    left: 15em;
  }
  .hotel-pos-three{
    top: 6em;
    left: 29em;
  }

}

@media(max-width:798px){
.location-pos-three{
  top: 7em;
  left: 3em;
}
.internet-pos-three{
  top: -0.5em;
  left: 11em;
}
.hotel-pos-three{
  top: 5em;
  left: 26em;
}
}

@media (max-width: 750px){
  .services-layout-container-three{
    background-position: -3.5em;
  }
  .service-icon-three{
    width: 60px !important;
    height: 60px !important;
  }
  .service-icon-three img {
    width: 25px !important;
    height: 25px !important;

  }
  .location-pos-three{
    top: 9em;
    left: 3em !important;
  }
  .internet-pos-three{
    top: -0.5em;
    left: 8em;
  }
  .hotel-pos-three{
    top: 8em;
    left: 23em;
  }
.service-text-three{
  font-size: .8em !important;
}
}
@media (max-width: 670px){
  .service-icon-three{
    width: 60px !important;
    height: 60px !important;
  }
  .service-icon-three img {
    width: 25px !important;
    height: 25px !important;
  }
  .location-pos-three{
    top: 9em;
    left: 5em;
  }
  .internet-pos-three{
    top: -0.5em;
    left: 8em;
  }
  .hotel-pos-three{
    top: 7em;
    left: 22em;
  }
.service-text-three{
  font-size: .8em !important;
}
.services-layout-container-three{
  background-position: -2em;
}
}
@media (max-width: 600px){
  .services-layout-container-three{
    background-image: url('../../assets/images/section3.png') !important;
    background-position: top !important;
    background-size: auto !important;
    height: 115px !important;
    min-height: auto !important;
  }
  .service-icon-wrapper-three{
    display: flex !important;
    flex-direction: column-reverse !important;
  }
  .service-icon-three img{
    display: none !important;
  }
  .service-icon-three .mobile-img{
    display: block !important;
  }
  .service-text-three{
    display: none !important;
  }
  .mobile{
    display: block !important;
  }
  .service-icon-three{
    width: 50px !important;
    height: 50px !important;
  }
  .service-icon-three img {
    width: 20px !important;
    height: 20px !important;
  }
.location-pos-three{
  top: 1%;
  left: 9% !important;
}
.internet-pos-three{
  top: -142%;
  left: 17%;
}
.hotel-pos-three{
  top: 21%;
  left: 50%;
}
.service-text-three{
  font-size: .8em !important;
}
.padingtext{
  padding: 0px 22px;
}
}
@media (max-width: 550px){
  .services-layout-container-three{
    /* height: 353px; */
    /* min-height: 232px; */
    background-size: contain;
  }
  .service-text-three{
    font-size: .5em !important;
  }

  /* .location-pos-three{
    top: 2em;
    left: 0em !important;
  }
  .internet-pos-three{
    left: 3.4em;
  }
  .hotel-pos-three{
    top: 2.5em;
    left: 18.4em;
  } */
.internet-pos-three{
  top: -129%;
}
.padingtext{
  padding: 0px 42px;
}
}

@media (max-width: 520px){
  /* .internet-pos-three{
    left: 2.4em !important;
  }
  .hotel-pos-three{
    top: 2.5em;
    left: 16.4em;
  } */

}


@media (max-width: 480px){
  .service-text-three{
    font-size: .35em !important;
  }
  .padingtext{
    padding: 0px 49px;
  }
  .location-pos-three{
    left: 0% !important;
  }
  .internet-pos-three{
    left: 10% !important;
  }
  .hotel-pos-three{
    left: 48%;
  }
}




@media (max-width:450px){
  .services-layout-container-three{
    /* height: 353px; */
    min-height: 232px;
    background-size: contain;
  }
  .service-text-three{
    font-size: .35em !important;
  }
  .service-icon-three{
    width: 40px !important;
    height: 40px !important;
  }
  
  .service-icon-three img{
    width: 15px !important;
    height: 15px !important;
  }
  
  .location-pos-three{
    left: -8% !important;
    top: 7%;
  }
  .internet-pos-three{
    left: 1% !important;
    top: -128%;
  }
  .padingtext{
    padding: 0px 57px !important;
  }
}



@media (max-width:408px){
  .services-layout-container-three{
    /* height: 353px; */
    min-height: 232px;
    background-size: contain;
  }
  .service-text-three{
    font-size: .35em !important;
  }
  
  .location-pos-three{
    /* top: 1.5em !important; */
    left: -2em !important;
  }
  .internet-pos-three{
    left: -0.6em !important;
  }
  .hotel-pos-three{
    top: 2em !important;
    left: 9.8em !important;
  }
  
  
}

@media (max-width:395px){
  .hotel-pos-three{
    left: 10.4em !important;
    top: 2em !important;
    /* padding: 0 5em; */
  }
  
  .hotel-pos-three .service-text-three{
    padding: 0 10em;
  }
}


@media (max-width:370px){
  .services-layout-container-three{
    /* height: 353px; */
    min-height: 232px;
    background-size: contain;
  }
  
 
  .location-pos-three{
    left: -3em !important;
  }
  .internet-pos{
    left: 1.8em !important;
  }
  .hotel-pos-three{
    top: 1em !important;
    left: 9.4em !important;
  }
  .hotel-pos-three .service-text-three{
    padding: 0 12em;
  }
}


@media (max-width:335px){
  .location-pos{
    left: 1em !important;
  }
  .internet-pos{
    top: -3.8em !important;
    left: 1.3em !important;
  }
  .hotel-pos-three{
    left: 8em !important;
  }
}



















































































/* @media (max-width: 440px){
  .service-icon-three{
    width: 40px !important;
    height: 40px !important;
  }
  .service-icon-three img {
    width: 17px !important;
    height: 17px !important;
  }
 
.location-pos-three{
  top: 7em;
  left: 2em !important;
}
.internet-pos-three{
  top: -0.5em;
  left: 3em;
}
.hotel-pos-three{
  top: -3em;
  left: 7.4em;
}
.service-text-three{
  font-size: .45em !important;
}

}
@media (max-width: 365px){
  .service-icon-three{
    width: 35px !important;
    height: 35px !important;
  }
  .service-icon-three img {
    width: 17px !important;
    height: 17px !important;
  }
 
.location-pos-three{
  top: 7em;
  left: 2em !important;
}
.internet-pos-three{
  top: -0.5em;
  left: 2em;
}
.hotel-pos-three{
  top: -3em;
  left: 6.4em;
}
.service-text-three{
  font-size: .45em !important;
}

} */