
.services-section-two {
    /* background-color: #F8F9FA; */
    
    text-align: center;
    position: relative;
    overflow: hidden;
    
  }
  
  .services-title {
    font-size: 3em;
    color: #2C3E50;
    margin-bottom: 60px;
  }
  
  /* حاوية التخطيط لكل صف (الصف العلوي والسفلي) */
  .services-layout-container-two {
    position: relative;
    width: 100%;
    max-width: 1200px; /* عرض تقريبي لكي تظهر الصورة بشكل جيد */
 
    min-height: 417px !important;
    margin: 0 auto 50px auto;
  
    background-image: url('../../assets/images/ww2.png'); /* */
    background-size: 100% auto;
    background-position: 2.5em; /* توسيط الصورة */
    background-repeat: no-repeat; /* عدم تكرار الصورة */
  }
  .mobile{
    display: none;
  }

  .mobile-img{
    display: none;
  }
  /* نمط الأيقونة الدائرية نفسها والنص */
  .service-icon-wrapper-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 5;
    width: 150px; /* لتحديد عرض الأيقونة مع النص أسفلها */
    
    margin-right: 2em;
  }
  


  .service-icon-two {
    width: 80px;
    height: 80px;
    background-color: #1A68A6;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  /* .service-icon-two-mobile{
    display: none !important;
  } */

.service-text-two-mobile{
  display: none !important;
}

  .service-icon-two img {
    width: 40px;
    height: 40px;
    /* margin-top: 3em; */
  }
  
  .service-text-two {
    color: #477BAE;
    font-size: 1.1em;
    margin-top: 15px;
    line-height: 1.4;
    text-align: center;
    font-weight: 500;
  }
  
  /* تموضع العناصر المطلق فوق نقاط الخط المنقط */
  .absolute-positioned-item {
    position: absolute;
   
  }
  
 
 
  
  

  
  /* أيقونة الطائرة في بداية الصف العلوي */
  
  
 
  .location-pos {
    /* left: 26%; */
    left: 28.8%;
    top: 74%;
    transform: translate(-50%, -50%);
  }
  

  .internet-pos {
    /* left: 40%; */
    left: 44%;
    /* top: 52%;  */
    top: 58%;
    transform: translate(-50%, -50%);
  }
  

  .hotel-pos {
    /* left: 64%; */
    left: 68%;
    /* top: 85%; */
    top: 81%;
    transform: translate(-50%, -50%);
  }
  

  
  

  .bottom-row-layout {
 
    background-position: center 30%; 
  }
  
  /* أيقونة الطائرة في بداية الصف السفلي */
  .plane-icon-start-bottom {
    left: 5%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  
  /* خدمة شراء بطاقة هاتف وكرت بنك */
  .simcard-pos {
    left: 35%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* خدمة تأمين سيارة */
  .car-insurance-pos {
    left: 65%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* أيقونة الطائرة في نهاية الصف السفلي */
  .plane-icon-end-bottom {
    right: 5%;
    top: 50%;
    transform: translate(50%, -50%) rotate(45deg);
  }
  
  
 
  

  @media (max-width: 991px) {
    .services-layout-container-two {
     
      min-height: 417px !important;
      background-size: cover; 
     
    }
  
    .absolute-positioned-item {
        position: absolute;
        transform: none; 
        margin-bottom: 30px; 
        
    }
  

    .location-pos{
      top: 7em;
      left: 8em;
    }
    .internet-pos{
      top: 2.5em;
      left: 11em;
    }
    .hotel-pos{
      top: 8em;
      left: 20em;
    }
  }

@media (max-width:910px){
  .location-pos{
    top: 7em;
    left: 7em;
  }
  .internet-pos{
    top: 2.5em;
    left: 11em;
  }
  .hotel-pos{
    top: 8em;
    left: 18em;
  }
}


  @media (max-width: 830px){
    .services-layout-container-two{
      background-position: 4.5em;
    }
    .location-pos{
      top: 7em;
      left: 7em;
    }
    .internet-pos{
      top: 2.5em;
      left: 11em;
    }
    .hotel-pos{
      top: 8em;
      left: 18em;
    }
  
}

@media(max-width:798px){
  .services-layout-container-two{
    background-position: 2.5em;
  }
  .location-pos{
    top: 7em;
    left: 6em;
  }
  .internet-pos{
    top: 2.5em;
    left: 9em;
  }
  .hotel-pos{
    top: 8em;
    left: 16em;
  }
}

  @media (max-width: 750px){
    .service-icon-two{
      width: 60px !important;
      height: 60px !important;
    }
    .service-icon-two img {
      width: 25px !important;
      height: 25px !important;

    }
    .location-pos{
      top: 7em;
      left: 6em;
    }
    .internet-pos{
      top: 2.5em;
      left: 8em;
    }
    .hotel-pos{
      top: 7em;
      left: 15em;
    }
  .service-text-two{
    font-size: .8em !important;
  }
}
  @media (max-width: 670px){
    .service-icon-two{
      width: 60px !important;
      height: 60px !important;
    }
    .service-icon-two img {
      width: 25px !important;
      height: 25px !important;
    }
    .location-pos{
      top: 7em;
      left: 5em;
    }
    .internet-pos{
      top: 2.5em;
      left: 8em;
    }
    .hotel-pos{
      top: 7em;
      left: 14em;
    }
  .service-text-two{
    font-size: .8em !important;
  }
  .services-layout-container-two{
    background-position: 2.5em;
  }
}
  @media (max-width: 600px){
    .services-layout-container-two{
      background-image: url('../../assets/images/section2.png') !important;
      background-position: top !important;
      background-size: contain !important;
      height: 115px !important;
      min-height: auto !important;
    }

    .service-icon-two img{
      display: none !important;
    }
    .service-icon-two .mobile-img{
      display: block !important;
    }
    .service-text-two{
      display: none !important;
    }
    .mobile{
      display: block !important;
    }
    /* .service-icon-two-mobile{
      display: block;
    } */
    .service-icon-two{
      width: 50px !important;
      height: 50px !important;
    }
    .service-icon-two-mobile img {
      width: 20px !important;
      height: 20px !important;
    }
  .location-pos{
    top: 53%;
    left: 15% !important;
  }
  .internet-pos{
    top: -88%;
    left: 20%;
  }
  .hotel-pos{
    top: 53%;
    left: 39%;
  }
  .service-text-two{
    font-size: .8em !important;
  }
  
}



@media (max-width:550px){
  .services-layout-container-two{
    /* height: 353px; */
    /* min-height: 232px; */
    background-size: contain;
  }
  .service-text-two{
    font-size: .5em !important;
  }

  /* .location-pos{
    top: 2.5em;
    left: 2em !important;
  }
  .hotel-pos{
    top: 2.5em;
    left: 11.4em;
  } */
}

  @media (max-width: 520px){
    /* .internet-pos{
      left: 4em !important;
    }
    .hotel-pos{
      top: 2.5em;
      left: 11em;
    } */
  
}

@media (max-width: 480px){
  .location-pos{
    left: 12% !important;
  }
  .internet-pos{
    left: 19% !important;
  }
  .hotel-pos{
    left: 40%;
  }
  .service-text-two{
    font-size: .35em !important;
  }
  .padingtext{
    padding: 0px 49px;
  }
}


@media (max-width:450px){
  .services-layout-container-two{
    /* height: 353px; */
    /* min-height: 232px; */
    background-size: contain;
  }
  .service-text-two{
    font-size: .35em !important;
  }
  .service-icon-two{
    width: 40px !important;
    height: 40px !important;
  }
  
  .service-icon-two img{
    width: 15px !important;
    height: 15px !important;
  }
  .location-pos{
    top: 1.5em !important;
    left: 1.5em !important;
  }
  .hotel-pos{
    top: 1.6em !important;
    left: 9em !important;
  }
}







@media (max-width:405px){
  .services-layout-container-two{
    /* height: 353px; */
    /* min-height: 232px; */
    background-size: contain;
  }
  .service-text-two{
    font-size: .35em !important;
  }
  
  .location-pos{
    top: 1.5em !important;
    left: 1.5em !important;
  }
  .internet-pos{
    left: 2.4em !important;
  }
  .hotel-pos{
    top: 1.6em !important;
    left: 8em !important;
  }
  
  
}


@media (max-width:370px){
  .services-layout-container-two{
    /* height: 353px; */
    /* min-height: 232px; */
    background-size: contain;
  }
  
 
  .location-pos{
    left: 1em !important;
  }
  .internet-pos{
    left: 1.8em !important;
  }
  .hotel-pos{
    left: 7em !important;
  }
}

@media (max-width:335px){
  .location-pos{
    left: 1em !important;
  }
  .internet-pos{
    top: -3.8em !important;
    left: 1.3em !important;
  }
  .hotel-pos{
    left: 6em !important;
  }
}