

.hero-section {
    position: relative;
    width: 100%;
    height: 100vh;
  
     background-position: center;
     

    color: #fff; 
    text-align: center;
    margin-bottom: 20rem;
  }


  .hero-section img{
    width: 100%;
    /* height: 100vh; */
    /* filter: drop-shadow(-50px 30px 0px #477BAE)
            drop-shadow(-50px 20px 0px #ACCDEE); */
    /* box-shadow: 0px 0px 8px 5px #477BAE; */
    /* object-fit: auto; */
  }
  .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100vh; */
    /* background-image: url('../../assets/images/روسيل44.png'); */
    background-size: cover;
    /* background: rgba(0, 0, 0, 0.4);  */
    z-index: 1;
  }
  
  .hero-content {
    position: relative;
    top: -75%;
    top: -170%;
    /* bottom: 100%; */
    z-index: 2; /* لجعل المحتوى فوق الطبقة الشفافة */
    padding-top: 80px; /* مسافة من الأعلى لعدم تداخلها مع ال Navbar */
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); /* ظل للنص لتحسين القراءة */
  }
  
  .hero-title {
    font-size: 5em; /* حجم كبير للعنوان */
    font-size: 11vw;
    font-weight: bold;
    margin-bottom: 20px;
    margin-bottom: 0px;
    margin-bottom: -50px !important;

    /* margin-bottom: 50%; */
    /* height: 86.2%; */
    height: max-content;
    animation: slideInFromTop 1s ease-out forwards; /* انيميشن للعنوان */
    opacity: 0;
    color: #fff; /* اللون الافتراضي للعناوين هو الأبيض */
  }
  
  .hero-subtitle {
    font-size: 1.8em;
    font-size: 4vw;
    margin-top: 0%;
    margin-bottom: 0px;
    animation: slideInFromBottom 1s ease-out forwards; /* انيميشن للوصف */
    animation-delay: 0.3s; /* تأخير بسيط بعد العنوان */
    opacity: 0;
    color: #fff;
  }
  
  .hero-buttons .hero-button {
    /* padding: 15px 40px; */
    /* padding: 23px 50px; */
    /* padding: 30px 60px; */
    width: 10em;
    height: 4em;
    font-size: 1.2em;
    font-weight: 600;
    border-radius: 50px; /* أزرار بيضاوية */
    margin: 0 10px;
    transition: all 0.3s ease;
    animation: fadeInButton 1s ease-out forwards; /* انيميشن للأزرار */
    animation-delay: 0.6s; /* تأخير بعد الوصف */
    opacity: 0;
    border: 2px solid; /* إضافة حدود للأزرار */
    border: 1px solid #707070;
    border-radius: 15px;
  }
  
  .hero-buttons .hero-button:first-child {
    background-color: #FFFFFF; /* لون زر "وجهات سياحية" */
    border-color: #8c8c8c;
    color: #1A68A6;
  }
  
  .hero-buttons .hero-button:first-child:hover {
    background-color: #D7273E;
    color: #FFFFFF;
    cursor: pointer;
    border-color: #7a7a7a;
    transform: translateY(-3px); /* رفع الزر عند التحويم */
  }
  

  
  .hero-buttons .hero-button:last-child {
    background-color: #D7273E; /* لون زر "الخدمات" */
    /* border-color: #5d3f6a; */
    
    color: #fff;
  }
  
  .hero-buttons .hero-button:last-child:hover {
    background-color: #FFFFFF;
    color: #1A68A6;
    cursor: pointer;
    /* border-color: #4b3252; */
    transform: translateY(-3px); /* رفع الزر عند التحويم */
  }
  
  /* Animations */
  @keyframes slideInFromTop {
    0% { opacity: 0; transform: translateY(-50px); }
    100% { opacity: 1; transform: translateY(0); }
  }
  
  @keyframes slideInFromBottom {
    0% { opacity: 0; transform: translateY(50px); }
    100% { opacity: 1; transform: translateY(0); }
  }
  
  @keyframes fadeInButton {
    0% { opacity: 0; transform: scale(0.8); }
    100% { opacity: 1; transform: scale(1); }
  }
  
  /* Responsive adjustments */
@media (max-width:1280px){
  .hero-section{
    margin-bottom: 10em;
  }
  .hero-content{
    top: -140%;
  }
}


@media (max-width:1100px){
  .hero-section{
    margin-bottom: 10em;
  }
  .hero-content{
    top: -120%;
  }
}

  @media (max-width: 991px) {
    .hero-section {
      height: 80vh; /* تقليل الارتفاع على الشاشات الأصغر */
      margin-bottom: 7em;
    }

    .hero-inner{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    .hero-content {
      padding-top: 0; /* إزالة المسافة العلوية */
      top: -72% !important;
      top: -109% !important;
      /* bottom: 100% !important; */
    }
    .hero-title {
      font-size: 3.5em; /* تصغير حجم العنوان */
      font-size: 6.5em;
      /* margin-bottom: -50px !important; */
    }
    .hero-subtitle {
      font-size: 1.4em; /* تصغير حجم الوصف */
    }
    .hero-buttons .hero-button {
      padding: 12px 30px;
      font-size: 1em;
      margin: 0 5px;
    }
  }
  
  @media (max-width: 770px) {
    .hero-section {
      height: 70vh;
      margin-bottom: 0em;
    }
    .hero-section img{
      height: 100%;
    }
    .hero-content{
      top: -75% !important;
    }
    .hero-title {
      font-size: 2.8em;
    }
    .hero-subtitle {
      font-size: 1.2em;
      margin-top: 9%;
    }
    .hero-buttons {
      /* flex-direction: column; */
      gap: 15px; 
      display: flex;
    }
    .hero-buttons .hero-button {
      width: 80%; 
      margin: 0 auto;
    }
  }


@media (max-width:628px){
  .hero-section{
    height: 50vh;
  }
  .hero-content{
    top: -80% !important;
  }
  .hero-title {
    font-size: 2em;
  }
  .hero-subtitle {
    font-size: 1em;
    margin-top: 14%;
  }

.hero-buttons{
  gap: 0px;
}

  .hero-buttons .hero-button{
    /* gap: 0px !important; */
    /* width: 8.5em; */
    width: 35%;
    height: auto;
    /* height: 3em; */
    font-size: .7em;
  }
  .hero-button{
    width: 60%;
    font-size: .7em;
    padding: 10px 17px !important;
  }
}



@media (max-width:460px){
  /* .hero-section{
    height: 45vh;
  } */
}





























