body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: 'font'; /* اسم الخط الذي ستستخدمه في CSS */
  src: url('./assets/All-Genders-Regular-v4.otf') format('woff2');
       /* url('./assets/fonts/MyCustomFont-Regular.woff') format('woff'); */
  font-weight: normal; /* للسمك العادي */
  font-style: normal;
  font-display: swap; /* مهم لتحسين تجربة المستخدم */
}